.features .nav-tabs {
    border: 0;
  }
  .features .nav-link {
    border: 1px solid #d4d6df;
    padding: 15px;
    transition: 0.3s;
    color: #2a2c39;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  .features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .features .nav-link:hover {
    color: #4266B0;
  }
  .features .nav-link.active {
    background: #4266B0;
    color: rgb(252, 250, 250);
    border-color: #4266B0;
  }
  @media (max-width: 768px) {
    .features .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  @media (max-width: 575px) {
    .features .nav-link {
      padding: 15px;
    }
    .features .nav-link i {
      font-size: 24px;
    }
  }
  .features .tab-content {
    margin-top: 30px;
  }
  .features .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  .features .tab-pane ul li {
    padding-bottom: 10px;
  }
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #4266B0;
  }
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }
  #services {
    padding: 60px 0 40px 0;
  }
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: rgb(252, 250, 250);
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 100%;
  }
  #services .box:hover {
    transform: scale(1.1);
  }
  #services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  #services .icon i {
    font-size: 36px;
    line-height: 0;
  }
  #services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  #services .title a {
    color: #111;
  }
  #services .box:hover .title a {
    color: #1bb1dc;
  }
  #services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }